/* Write your CSS code here */
.product-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-image {
  height: 300px;
  width: 300px;
  margin-top: 20px;
}

@media screen and (min-width: 729px) {
  .product-image {
    height: 450px;
    width: 450px;
    margin-top: 20px;
  }
}
